%h1 Listing products
%br

%p
  %div.row
    %div.col-md-1
      %strong   #
    %div.col-md-2
      %strong Title:
    %div.col-md-2
      %strong Description:
    %div.col-md-2
      %strong Price:
    %div.col-md-5
  
  %div.row
  - @products.each do |product|
    %div.col-md-1
      = product.id
    %div.col-md-2
      = product.title
    %div.col-md-2
      = product.description
    %div.col-md-2
      = product.price
    %div.col-md-1
      = link_to 'Show', category_product_path(product.category, product)
    %div.col-md-1
      = link_to 'Edit', edit_category_product_path(product.category, product)
    %div.col-md-1
      = link_to 'Destroy', category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }
