%p#notice= notice
%p#error= flash[:error]

%p
  %div.row
    %div.col-md-1
      %b Title:
      %p
      = product.title
    %div.col-md-1
      %b Description:
      %p
      = product.description
    %div.col-md-1
      %b Price:
      %p
      = product.price
    %div.col-md-1
      %b Category:
      %p
      = product.category.name
    %div.col-md-3
      %b Average_rating:
      %p
      = product.average_rating
    %div.col-md-1
      %b Added by:
      %p
      = product.user.email

%p



%h3 Reviews
= render 'reviews/form'

'Count-Rating:


= render reviews


- if @product.user == current_user
  = link_to 'Edit', edit_category_product_path(category.id, product.id)
- else
  

\|
= link_to 'Back', category_products_path, class: 'btn btn-primary'






